
.bg-color-blue {
    background-color: rgb(54, 118, 187);
    

    .git {
        color: rgb(162, 177, 201);
        font-size: 25px;
        padding-top: 2rem;
    }

    p {
        color: rgb(162, 177, 201);
    }
    .fonts{
    text-align: center;
    }
        
    }
    .fonts i{
        margin-inline: 1rem;
        font-size: 50px;
        margin-bottom: 2rem;

}
.bg-color-footer{
    background-color: rgb(54, 59, 71);
    text-align: center;
    p{
        padding-top: 1rem;
        color: rgb(162, 177, 201);
    margin-bottom: 0px;}
    
}
